*,
::before,
::after {
box-sizing: border-box;
img {
display: block;
max-width: 100%;
height: auto;
}
}
html,
body {
font-family: 'Roboto', sans-serif;
font-size: 18px;
line-height: 30px;
color: #2E2E2E;
background-color: #F9F9F9;
overflow-x: hidden;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
white-space: nowrap;
border: 0;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    }