.first-screen {
    position: relative;
    width: 100%;
    height: 704px;
    background-image: url('../images/main_screen.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#F9F9F9 ;
    background-size: cover;
}
.first-screen h1 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 30px;
}
.first-screen p {
    font-size: 20px;
    max-width: 900px;
}
.tours {
    padding:0;
}
.tours__cards {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    }
.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.caption h2 {
    font-size: 42px;
}

.tours__card-a {
    width: 347px;
    height: 410px;
    padding: 20px;
    background-image: url('../images/soulofgeorgia.png');
    color:#F9F9F9;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    text-align: left;
}
.tours__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 240px;
    margin-bottom: 2px;
}
.tours__desc {
    font-size: 13px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 15px;
}
.tours__card-b {
    width: 346px;
    height: 410px;
    padding: 20px;
    background-image: url('../images/wineroadsofkakheti.png');
    color:#F9F9F9;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    text-align: left;
}
.tours__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 220px;
    margin-bottom: 2px;
}
.tours__desc {
    font-size: 13px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 15px;
}
.tours__card-c {
    width: 347px;
    height: 410px;
    padding: 20px;
    background-image: url('../images/svaneti.png');
    color:#F9F9F9;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    text-align: left;
}
.tours__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 240px;
    margin-bottom: 2px;
}
.tours__desc {
    font-size: 13px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 15px;
}

.tours__card-d {
    width: 347px;
    height: 410px;
    padding: 20px;
    background-image: url('../images/mysteriousimereti.png');
    color:#F9F9F9;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    text-align: left;
}
.tours__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 240px;
    margin-bottom: 2px;
}
.tours__desc {
    font-size: 13px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 15px;
}
.tours__card-e {
    width: 347px;
    height: 410px;
    padding: 20px;
    background-image: url('../images/gastrotour.png');
    color:#F9F9F9;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    text-align: left;
}
.tours__name-e {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 230px;
}
.tours__desc {
    font-size: 13px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 15px;
}
.tours__card-f {
    width: 347px;
    height: 410px;
    padding: 20px;
    background-image: url('../images/adjara.png');
    color:#F9F9F9;
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    text-align: left;
}
.tours__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 240px;
    margin-bottom: 2px;
}
.tours__desc {
    font-size: 13px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 15px;
}
.included {
    padding: 20px 0;
}
.included p {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
}
.included__union {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none; 
}
.included__union h3 {
    margin: 0;
}
.photo__union {
    margin: 0;
    padding: 10px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}
.included__card{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wrap-right {
    display: flex;
    flex-direction: column;
}
.wrap-right {
    width: 255px;
}
.wrap-right h3 {
    line-height: 22px;
}
.advantages h3 {
    margin: 0;
}
.advantages p {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
}
.advantages__union {
    width: 280px;
}
.reviews .container {
    display: flex;
}
.reviews__cards {
    margin: 0;
    padding-bottom: 10cqh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    }
    .reviews__card-a {
        width: 347px;
        height: 560px;
        padding: 20px;
        background-image: url('../images/alexey.png');
        color:#F9F9F9;
        overflow: hidden; 
        border-radius: 20px;
        box-shadow: 1px 2px 20px 5px #d7d7d7;
        text-align: left;
        margin: 0;
    }
    .reviews__name {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 310px;
        margin-bottom: 10px;
    }
    .reviews__desc {
        font-size: 13px;
        font-weight: 100;
        margin-top: 8px;
        margin-bottom: 10px;
        line-height: 15px;
    }
    .reviews__card-b {
        width: 347px;
        height: 560px;
        padding: 20px;
        background-image: url('../images/natalia.png');
        color:#F9F9F9;
        overflow: hidden; 
        border-radius: 20px;
        box-shadow: 1px 2px 20px 5px #d7d7d7;
        text-align: left;
        margin: 0;
    }
    .reviews__name-b {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 230px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .reviews__desc-b {
        font-size: 13px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 15px;
        color: black;
    }
    .reviews__desc-bb {
        font-size: 13px;
        font-weight: 100;
        margin-top: 8px;
        margin-bottom: 10px;
        line-height: 15px;
        width: 140px;
        color: black;
    }
    .reviews__card-c {
        width: 347px;
        height: 560px;
        padding: 20px;
        background-image: url('../images/anna_sergey.png');
        color:#F9F9F9;
        overflow: hidden; 
        border-radius: 20px;
        box-shadow: 1px 2px 20px 5px #d7d7d7;
        text-align: left;
        margin: 0;
    }
    .reviews__card-c h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 330px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }
    .reviews__desc-c {
        font-size: 13px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 200px;
        line-height: 15px;
        
    }