
.button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    background-color: #F9F9F9;
    color: #2E2E2E;
    border: 2px solid #2E2E2E;
    border-radius: 30px;
    padding: 8px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover {
    background-color: #D4F5FB;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.button::after {
    content: '\2794'; /* Юникод стрелки вправо */
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}

.button:hover::after {
    margin-left: 15px;
}
.feedback__button {
    width: 437px;
    height: 44px;
    border-radius: 8px;
    background-color: #00BB06;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border: none;
    cursor: pointer;
    margin-top: 40px; /* Отступ от полей */
    margin-bottom: 16px; /* Отступ снизу */
}
.feedback__button:hover {
    background-color: #00a206; /* Темнее при наведении */
}
.feedback__button:hover::after {
    width: 443px;
    height: 50px;}